@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable Scroll lol */
:root:has(.sidebar-active) {
	overflow: hidden;
}

/* Utilities */
.hidden {
	display: none;
}

/* Transitions */

.sidebar {
	transition: transform 0.5s ease-in-out;
	transform: translateX(-30rem);
}

.sidebar-active {
	transform: translateX(0);
}
